
*{
margin: 0px;
padding: 0px;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #33383b;
}

li {
    display:inline-block;
}

li a {
    display: block;
    color: lightseagreen;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
}

li a:hover{
    background-color:#33383b; 
}

ul li ul {
    background-color :#1e1e2d;
    display:none;
    position:absolute;
    width: 180px;
    z-index: 1;
}

ul li:hover ul{
    display:block;
}
li ul li {
    display:block; 
}
section{
    width: 100%;
    display:block;
    background: #1e1e2d;
    height: 80vh;

   


}
.sec77{
    width: 100%;
    display:block;
    background: #1e1e2d;
    height: 250vh;

   


}
section .sam{
    font-family:'Times New Roman', Times, serif ;
    color:#fff ;
    padding:25px 20px;
    font-size: 20px;
}
section .hak{
    font-family:'Times New Roman', Times, serif ;
    color: lightseagreen;
    padding:10px 10px;
    font-size: 20px;
}

.row11 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column11 {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column11 img {
    margin-top: 8px;
    vertical-align: middle;
  }

  .header12
  {  
      background-color:#33383b;
       padding: 30px;
        text-align:center; 
 font-size: 35px; 
 } 
 /* Yan yana (float) kayan tip eşit sütun oluşturun */ 
 .column12 { 
    background-color:lightseagreen;
     float: left;
     width: 33.33%;
      padding: 10px;
      height: 300px; 
 }
  /* Siitunlardan sonra kayan noktalars temizle */
   .row12:after {
    
        content: ""; 
        display: table; 
        clear: both;
      } /* Altbilgiyi stillendir (footer) */ 

 
  @media (max-width: 600px)
   { 
       .column12
       { 
      
           width: 100%;
            } }
            .column55 {
                float: left;
                width: 50%;
                padding: 10px;
                height: 300px; /* Should be removed. Only for demonstration */
              }
              
              /* Clear floats after the columns */
              .row55:after {
                content: "";
                display: table;
                clear: both;
              } 
            
.footer-distributed{
    background:#33383b;
    box-shadow: 0 1px 1px 0 rgba(0, 0,0, 0.12);
    box-sizing: border-box;
    text-align: left;
    width:100%;
    font:bold 16px sans-serif;
    padding: 55px 50px;

}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top ;
}
.footer-distributed .footer-left{
    width: 40%;

}
.footer-distributed h3{
    color:#ffffff;
    font: normal 36px'Open Sans', cursive;
    margin: 0;

}
.footer-distributed h3 span{
    color: lightseagreen;

}
.footer-distributed .footer-links {
color:#ffffff;
margin: 20px 0 12px;
padding: 0;
}
.footer-distributed .footer-links a{
    display: inline-block;
    line-height: 1.8;
    font-weight:400;
text-decoration:none ;
color: inherit;

}
.footer-distributed .footer-hakkımızda{ 
   color: #222;
    font-size :14px;
    font-weight: normal;
    margin :0;
}
.footer-distributed .footer-center{
    width: 35%;
}
.footer-distributed .footer-center i {  
    background-color: #33383b;
    color:#ffffff;
    font-size:25px;
    width: 18px;
    height: 18px;
    border-radius:20%;
    text-align:center;
    line-height: 42px;
    margin:10px 15px;
    vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
    font-size:17px;
    line-height:38px;

}
.footer-distributed .footer-center p{
    display: inline-block;
    color:#ffffff;
    font-weight: 400;
    vertical-align:middle;
    margin:0;

}
.footer-distributed .footer-center p span{
    display: block;
    font-weight:normal;
    font-size: 14px;
    line-height:2 ;

}

.footer-distributed .footer-center p{
    color: lightseagreen;
    text-decoration: none;;
}
.footer-distributed .footer-links a:before{
    content:"|";
    font-weight: 300;
    font-size: 20px;
    left:0;
    color:#fff;
    display: inline-block;
    padding-right: 5px;
}
.footer-distributed .footer-links .link-1::before{
content: none;
}
.footer-distributed .footer-right{
    width:20%;
}
.footer-distributed .footer-hakkımızda{
line-height: 20px;
color:#92999f;
font-size: 13px;
font-weight:normal ;
margin:0;
}
.footer-distributed .footer-hakkımızda span{
    display:inline-block;
    color:#ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;

}
.footer-distributed .footer-icons{
	margin-top: 30px;
}
.footer-distributed .footer-icons a{
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color:#ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
/*bundan sonrakiler yok */


.header{
    background-color: #33383b;
    color:lightgreen ;
    font-family:'Times New Roman', Times, serif ;Text-decoration: none;
    padding:25px 20px;
}

.column {
    width: 35%;
    display: block;
    margin-bottom: 10px;
    background-color:#33383b;
    color:lightseagreen ;
    font-family:'Times New Roman', Times, serif ;Text-decoration: none;
    padding:25px 20px;
  }


  .column {
    float:left;
    width: 40%;
    height: 20%;
    padding-left: 100px;
  
    color:lightseagreen ;
    font-family:'Times New Roman', Times, serif ;Text-decoration: none;
    padding:25px 20px;
    background-color:#33383b;
   
   
  }
  
  .column img {
    margin-top: 12px;
    padding-right: 15px;
    padding: 60px 50px;
  }
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
 .row .column .bottom-right {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    color:#1e1e2d;
    bottom: 8px;
    right: 16px;
  }
  .iframe{
    position:relative;
    padding: 60px 50px;
    background-color: #33383b;
    width: 300px;
    height: 20px;
  }
      .column34 { 
    float: left; 
        padding: 10px; 
     height: 300px; 
    } 
                  

/* Sol ye sag sUtun */
 .column34.side
  { width: 25%; } 
  /* Orta sUtun */
   .column34.middle 
   { width: 50%; 
} /* SUtunlardan sonra kayan noktalari temizle */
 .row34:after { content: ""; 
 display: table; 
 clear: both; 
 }
.column55{
    color: #f1f1f1;

/* Create two equal columns that floats next to each other */
}
  section .sam22{
    font-family:'Times New Roman', Times, serif ;
    color:rgb(255, 255, 255) ;
    padding:25px 20px;
    font-size: 20px
}
section .hak22{
    font-family:'Times New Roman', Times, serif ;
    color: lightseagreen;
    padding:10px 10px;
    font-size: 20px;
}
section .hak22 .ol .li {
color: #fff;
display: block;
}
.container47{
    border-radius: 14px;
    width: 400px;
background-color: #33383b;
outline:none;
}
.container47 .form {

    background-color: #33383b;
    color:#33383b;
}
.section444{
    height: 800px;
    background-color: #33383b;
}